# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives**
- Python
- R
- Scala
- Julia

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. Tensorflow

| Data Science Tools |
| ------------------ |
| R Studio |
| Jupiter Studio |
| Apache Spark |

In [9]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
200/60,'hours is 200 minutes'

(3.3333333333333335, 'hours is 200 minutes')

## Author 
Mukund C Gokulan